{block content}
	
	<div class="page-heading">
		{include ../tabs.latte active => 'orders'}
	</div>

	<h1>{_'Eshop orders'}</h1>
	
	<div class="tab-content">
		<div class="tab-pane active">
			{control ordersGrid}
		</div>
	</div>
	
{/block}