{block content}
	
	<div class="page-heading">
		<h1>{_'Product parameters'}</h1>
		{include ../tabs.latte active => 'parameters'}
	</div>

	<br><br>

	<div class="row control-group">
		<a class="btn btn-primary ajax" n:href="Parameters:updateParameter idPage => $idPage">{_'Add parameter'}</a>
		{control parametersGrid}
	</div>
	
{/block}