{block content}
	
	<div class="page-heading">
	<h1>{_'Eshop products'}</h1>
	{include ../tabs.latte active => 'products'}
	</div>

	<br><br>

	<div class="row control-group">
		<a class="btn btn-primary ajax" n:href="Products:updateProduct idPage => $idPage">{_'Add product'}</a>
		{control productsGrid}
	</div>
	
{/block}