<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "eshop"}class="active"{/if}><a class="ajax" n:href="Eshop:default id => $id">{_'Eshop'}</a></li>
  {include ../../../webcms2/AdminModule/templates/system/boxes.latte id => $id}
</ul>