<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "eshop"}class="active"{/if}><a class="ajax contentTab" n:href="Eshop:default idPage => $idPage">{_'Eshop'}</a></li>
  <li {if $active == "orders"}class="active"{/if}><a class="ajax shoppingCart" n:href="Cart:default idPage => $idPage">{_'Orders'}</a></li>
  <li {if $active == "categories"}class="active"{/if}><a class="ajax shoppingCategory" n:href="Categories:default idPage => $idPage">{_'Categories'}</a></li>
  <li {if $active == "products"}class="active"{/if}><a class="ajax shoppingProduct" n:href="Products:default idPage => $idPage">{_'Products'}</a></li>
  <li {if $active == "parameters"}class="active"{/if}><a class="ajax shoppingParameter" n:href="Parameters:default idPage => $idPage">{_'Parameters'}</a></li>
  <li {if $active == "settings"}class="active"{/if}><a class="ajax settingsTab" n:href="Settings:default idPage => $idPage">{_'Settings'}</a></li>
  {var t = $basePathModule . "AdminModule/templates/system/boxes.latte"}
  {include $t id => $idPage}
</ul>