{block content}
	
	{include ../tabs.latte active => 'categories'}

	<h1>{_'Eshop categories'}</h1>
	
	<a class="btn btn-primary ajax" n:href="Categories:updateCategory idPage => $idPage">{_'Add category'}</a>

	<br /><br />

	<div class="tab-content">
		<div class="tab-pane active">
			{control categoriesGrid}
		</div>
	</div>
	
{/block}