{block content}
	
	<div class="page-heading">
		<h1>{_'Eshop categories'}</h1>
		{include ../tabs.latte active => 'categories'}
	</div>

	<br><br>

	<div class="row control-group">
		<a class="btn btn-primary ajax" n:href="Categories:updateCategory idPage => $idPage">{_'Add category'}</a>
		{control categoriesGrid}
	</div>

	
{/block}